@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  background-color: #dfe1e6;
}

.all-project {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #f7f7f9;
  margin-top: 0;
  border: 0.5px solid #f7f7f9;
}

.allinone {
  position: absolute;
  background: #fff;
  margin-top: -8;
}

.font {
  font-family: Poppins, sans-serif;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0%;
  margin-top: 0;
}

.navbar-logo {
  width: 76px;
  height: 20px;
  margin-left: 24px;
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  list-style-type: none;
  text-decoration: none;
}

.navbar-toggle {
  margin-right: 24px;
  margin-left: 0;
  margin-top: 60px;
  list-style-type: none;
}

.container {
  background-image: url(img/header-shapes\ mobile.png);
  width: 375px;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerone {
  height: 146px;
  width: 320px;
  margin-left: 24px;
  margin-top: 104px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text {
  height: 146px;
  width: 327px;
  margin-left: 24px;
  margin-top: -14px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
}

.connect {
  width: 120px;
  height: 24px;
  margin-left: 24px;
  margin-top: -4px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 170px;
  padding: 0%;
  margin-left: 24px;
  top: 470px;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #f7f7f9;
  justify-content: space-evenly;
  padding: 20px;
  height: 2788px;
  width: 375px;
  gap: 0;
  top: 0;
  margin-top: 800px;
}

.first {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.tonicimage {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.tonic {
  width: 295px;
  height: 36px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #172b4d;
}

.tonic1 {
  width: 295px;
  height: 80px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #172b4d;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -20px;
  width: 236px;
  height: 32px;
  margin-left: -60px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dolt1 {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.backend {
  width: 98px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.dolt2 {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.year {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.text2 {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  margin-top: -20px;
  margin-left: -90px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#htmltxt {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#csstxt {
  width: 21px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#jstxt {
  width: 65px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  width: 130px;
  bottom: 10px;
  margin-left: -170px;
  margin-top: -10px;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
  background-color: white;
}

.stories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about-my-self {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 0;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 1125.15px;
  margin-top: -16px;
  background: #fff;
  border-radius: 0 26% 0 0/0 8% 0 0;
}

.topabout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
  margin-top: -46px;
}

.myselftxt {
  width: 327px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.aboutmetxt {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: -38px;
}

.button2 {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  width: 166px;
  bottom: 10px;
  margin-left: 0;
  margin-top: 0;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
  background-color: white;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: -20px;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.outro2 {
  width: 120px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin-top: -10px;
  width: 200px;
  height: 40px;
  list-style: none;
  gap: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  margin-left: 0;
  margin-top: 42px;
}

.languagetxt {
  position: absolute;
  height: 24px;
  left: -10px;
  right: 78px;
  margin-left: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow {
  position: absolute;
  width: 14px;
  height: 8px;
  left: 320px;
  margin-top: 10px;
  color: #5e6c84;
}

.languagelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin-left: -60px;
  margin-top: 40px;
  width: 327px;
  height: 248.15px;
}

.js2 {
  width: 303px;
  height: 66.72px;
  list-style: none;
  background: #f7f7f9;
  border-radius: 8px;
}

.html2 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  list-style: none;
}

.css2 {
  width: 303px;
  height: 66.72px;
  list-style: none;
  background: #f7f7f9;
  border-radius: 8px;
}

#jsimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

#jstxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#htmltxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  color: #253858;
}

#htmlimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

#csstxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  margin-left: 30px;
  margin-top: 20px;
}

#cssimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

.framework {
  width: 327px;
  height: 72px;
}

.frameworktxt {
  position: absolute;
  height: 24px;
  left: 30px;
  right: 78px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow2 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 320px;
  top: 25%;
  margin-top: 542px;
  color: #5e6c84;
}

.separator {
  margin-top: 50px;
  width: 327px;
  height: 1px;
  margin-left: -40px;
}

.skills {
  width: 327px;
  height: 72px;
}

.arrow3 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 320px;
  top: 25%;
  margin-top: 614px;
  color: #5e6c84;
}

.separator2 {
  margin-top: 50px;
  width: 327px;
  height: 1px;
  margin-left: -40px;
}

.contactme {
  background: url(img/cf_bg.svg), url(img/cf_bf.svg), #6070ff;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0;
  top: 4680px;
  border-radius: 20% 0 0 0/10% 0 0 0;
}

.contacttxt {
  position: absolute;
  width: 375px;
  height: 56px;
  left: 0;
  top: 86px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.paragraph {
  position: absolute;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 170px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.radius {
  border-radius: 8px;
}

.inputtxt1 {
  position: relative;
  left: 24px;
  right: 0;
  top: 368px;
  bottom: 0;
  height: 48px;
  width: 327px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

.inputtxt2 {
  position: relative;
  left: 24px;
  right: 0;
  top: 384px;
  bottom: 0;
  height: 48px;
  width: 327px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

.inputtxt3 {
  position: relative;
  left: 24px;
  right: 0;
  top: 400px;
  bottom: 0;
  height: 170px;
  width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

.button3txt {
  width: 110px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 142px;
  height: 48px;
  left: 24px;
  top: 700px;
  border: 3px #000;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
}

.button3:hover {
  background-color: #7f8cff;
  color: white;
}

.button3:active {
  background-color: blue;
  color: whitesmoke;
}

.button3::after {
  background-color: #fff;
  color: black;
}

/* -------------Desktop Version------------ */

@media (min-width: 768px) {
  body {
    height: 5125px;
    width: 1440px;
    left: 0;
    top: 0;
    border-radius: 0;
    position: relative;
    background: #dfe1e6;
  }

  .allinone {
    height: 916px;
    width: 1440px;
    left: 0;
    top: 1px;
    position: absolute;
    background: #fff;
  }

  .navcontainer {
    /* position: absolute; */
    width: 1440px;
    height: 72px;
    left: 0;
    top: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    color: #344563;
    position: absolute;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 40px;
  }

  .navbar-logo {
    width: 76px;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .navbar-toggle {
    display: none;
  }

  .container {
    background-image: url(img/Header\ bg@2x.png);
    background-size: 100% 100%;
    background-position: 100% 100%;
    height: 721.4596557617188px;
    width: 1397.3985595703125px;
    left: 34.6015625px;
    top: 119px;
    border-radius: 0;
  }

  .maintxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 920px;
    height: 268px;
    left: 260px;
    top: 20%;
  }

  .headerone {
    width: 920px;
    height: 122px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .text {
    width: 920px;
    height: 98px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .connect {
    width: 120px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 260px;
    top: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .maincontainer {
    position: absolute;
    width: 1440px;
    height: 846px;
    left: 0;
    top: 71px;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding: 142px;
    gap: 142px;
    position: absolute;
    width: 1440px;
    height: 2694px;
    left: 0;
    top: 117px;
    background-color: #f7f7f9;
    border-radius: 0;
  }

  .image {
    position: absolute;
    width: 544px;
    height: 448px;
    border-radius: 8px;
    margin-left: -570px;
    margin-top: 6px;
    background-image: url(img/Snapshoot_Portfolio2.png);
  }

  .first {
    height: 496px;
    width: 1156px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
  }

  .first2 .image {
    display: none;
  }

  .first2 {
    background-image: url(img/Snapshoot_Portfolio4.png);
    background-repeat: no-repeat;
    margin-top: 0;
  }

  .stories {
    height: 496px;
    width: 1156px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
  }

  .tonic1 {
    width: 496px;
    height: 46px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-left: 600px;
    margin-top: 20px;
  }

  .frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    margin-left: 400px;
    width: 297px;
    height: 40px;
  }



  .image2 {
    background-image: url(img/Snapshoot_Portfolio3.png);
  }

  .image img {
    display: none;
  }

  .about-my-self {
    position: absolute;
    width: 1440px;
    height: 924px;
    left: 0;
    top: 3626px;
    border-radius: 0 10% 0 0/0 10% 0 0;
    background: #fff;
  }

  .topabout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    position: absolute;
    width: 447px;
    height: 392px;
    left: 142px;
    top: 142px;
  }

  .myselftxt {
    width: 447px;
    height: 114px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .aboutmetxt {
    width: 447px;
    height: 102px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 684px;
    height: 360px;
    left: 614px;
    top: 100px;
  }

  .arrow {
    position: absolute;
    left: 600px;
    right: 0;
    top: 12px;
    bottom: 0;
  }

  .languagelist {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    margin-left: 0;
    width: 414px;
    height: 144px;
  }

  .js2 {
    width: 122px;
    height: 120px;
    left: 12px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  #jsimage {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 44px;
    top: 80px;
    border-radius: 0;
    background: url(Screen Shot 2020-07-11 at 16.29.32.png);
  }

  #jstxt2 {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 18px;
    top: 136px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .html2 {
    width: 122px;
    height: 120px;
    left: 146px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  #htmlimage {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 178px;
    top: 80px;
    background: url(html5-512.png);
  }

  #htmltxt2 {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 150px;
    top: 76px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .css2 {
    width: 122px;
    height: 120px;
    left: 280px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  #cssimage {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 310px;
    top: 80px;
    background: url(images.jpg);
  }

  #csstxt2 {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 280px;
    top: 136px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .framework {
    height: 72px;
    width: 684px;
    left: 0;
    top: 216px;
    border-radius: 0;
  }

  .frameworktxt {
    position: absolute;
    height: 24px;
    left: 24px;
    right: 78px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .arrow2 {
    position: absolute;
    left: 600px;
    right: 0;
    top: -314px;
    bottom: 0;
  }

  .separator {
    position: absolute;
    height: 1px;
    left: 40px;
    right: 0;
    bottom: 0;
    top: 220px;
    background: #dfe1e6;
  }

  .skills {
    width: 684px;
    height: 72px;
  }

  .arrow3 {
    position: absolute;
    left: 600px;
    right: 0;
    top: -314px;
    bottom: 0;
  }

  .separator2 {
    position: absolute;
    height: 1px;
    left: 40px;
    right: 0;
    bottom: 0;
    background: #dfe1e6;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    margin-left: 300px;
    width: 203px;
    height: 24px;
    margin-top: 0;
  }

  .tonic {
    width: 496px;
    height: 46px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-left: 600px;
    top: 0;
    border-radius: nullpx;
    margin-top: 20px;
    color: #091e42;
  }

  .canopy {
    width: 75px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .backend {
    width: 140px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .year {
    width: 38px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .text2 {
    width: 496px;
    height: 50px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 600px;
    color: #344563;
  }

  .button {
    margin-left: 220px;
    margin-top: 20px;
    width: 140px;
  }

  .contactme {
    position: absolute;
    width: 1440px;
    height: 846px;
    top: 4762px;
    background-color: #6070ff;
    border-radius: 10% 0 0 0/10% 0 0 0;
  }

  .contacttxt {
    width: 801px;
    height: 56px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    margin-left: 330px;
  }

  .paragraph {
    width: 569px;
    height: 102px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-top: 60px;
    margin-left: 420px;
  }

  .inputtxt1 {
    position: absolute;
    height: 48px;
    width: 447px;
    margin-left: auto;
    margin-right: auto;
    top: 340px;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .inputtxt2 {
    position: absolute;
    height: 48px;
    width: 447px;
    margin-left: auto;
    margin-right: auto;
    top: 420px;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .inputtxt3 {
    position: absolute;
    height: 170px;
    width: 447px;
    margin-left: auto;
    margin-right: auto;
    top: 500px;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: 142px;
    height: 48px;
    margin-left: 640px;
    background: #fff;
    border-radius: 8px;
  }

  .button3txt {
    width: 110px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .button3:hover {
    background-color: #7f8cff;
    color: white;
  }

  .button3:active {
    background-color: blue;
    color: whitesmoke;
  }

  .button3::after {
    background-color: #fff;
    color: black;
  }

  .button:hover {
    background-color: #7f8cff;
    color: white;
  }

  .button:active {
    background-color: blue;
    color: whitesmoke;
  }

  .button::after {
    background-color: #fff;
    color: black;
  }
}
