@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  background-color: #dfe1e6;
}

.all-project {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #f7f7f9;
  margin-top: 0;
  border: 0.5px solid #f7f7f9;
}

.allinone {
  position: absolute;
  background: #fff;
  margin-top: -8;
}

.font {
  font-family: Poppins, sans-serif;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0%;
  margin-top: 0;
}

.navbar-logo {
  width: 76px;
  height: 20px;
  margin-left: 24px;
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  list-style-type: none;
  text-decoration: none;
}

.navbar-toggle {
  margin-right: 24px;
  margin-left: 0;
  margin-top: 60px;
  list-style-type: none;
}

.container {
  background-image: url(img/header-shapes\ mobile.png);
  width: 375px;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerone {
  height: 146px;
  width: 320px;
  margin-left: 24px;
  margin-top: 104px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text {
  height: 146px;
  width: 327px;
  margin-left: 24px;
  margin-top: -14px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
}

.connect {
  width: 120px;
  height: 24px;
  margin-left: 24px;
  margin-top: -4px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 170px;
  padding: 0%;
  margin-left: 24px;
  top: 470px;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #f7f7f9;
  justify-content: space-evenly;
  padding: 20px;
  height: 2788px;
  width: 375px;
  gap: 0;
  top: 0;
  margin-top: 800px;
}

.first {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.tonicimage {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.tonic {
  width: 295px;
  height: 36px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #172b4d;
}

.tonic1 {
  width: 295px;
  height: 80px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #172b4d;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -20px;
  width: 236px;
  height: 32px;
  margin-left: -60px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dolt1 {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.backend {
  width: 98px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.dolt2 {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.year {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.text2 {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  margin-top: -20px;
  margin-left: -90px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#htmltxt {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#csstxt {
  width: 21px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#jstxt {
  width: 65px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  width: 130px;
  bottom: 10px;
  margin-left: -170px;
  margin-top: -10px;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
  background-color: white;
}

.stories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about-my-self {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 0;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 1125.15px;
  margin-top: -16px;
  background: #fff;
  border-radius: 0 26% 0 0/0 8% 0 0;
}

.topabout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
  margin-top: -46px;
}

.myselftxt {
  width: 327px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.aboutmetxt {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: -38px;
}

.button2 {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  width: 166px;
  bottom: 10px;
  margin-left: 0;
  margin-top: 0;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
  background-color: white;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: -20px;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.outro2 {
  width: 120px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin-top: -10px;
  width: 200px;
  height: 40px;
  list-style: none;
  gap: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  margin-left: 0;
  margin-top: 42px;
}

.languagetxt {
  position: absolute;
  height: 24px;
  left: -10px;
  right: 78px;
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow {
  position: absolute;
  width: 14px;
  height: 8px;
  left: 320px;
  margin-top: 10px;
  color: #5e6c84;
}

.languagelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin-left: -60px;
  margin-top: 40px;
  width: 327px;
  height: 248.15px;
}

.js2 {
  width: 303px;
  height: 66.72px;
  list-style: none;
  background: #f7f7f9;
  border-radius: 8px;
}

.html2 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  list-style: none;
}

.css2 {
  width: 303px;
  height: 66.72px;
  list-style: none;
  background: #f7f7f9;
  border-radius: 8px;
}

#jsimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

#jstxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#htmltxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  color: #253858;
}

#htmlimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

#csstxt2 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  margin-left: 30px;
  margin-top: 20px;
}

#cssimage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  margin-top: 10px;
}

.framework {
  width: 327px;
  height: 72px;
}

.frameworktxt {
  position: absolute;
  height: 24px;
  left: 30px;
  right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow2 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 320px;
  top: 25%;
  margin-top: 542px;
  color: #5e6c84;
}

.separator {
  margin-top: 50px;
  width: 327px;
  height: 1px;
  margin-left: -40px;
}

.skills {
  width: 327px;
  height: 72px;
}

.arrow3 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 320px;
  top: 25%;
  margin-top: 614px;
  color: #5e6c84;
}

.separator2 {
  margin-top: 50px;
  width: 327px;
  height: 1px;
  margin-left: -40px;
}
